body{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRi5ItEKqHF2JlBWn59m0jMcXT29r3-L-0Qgm4JquBy30W1Q2Fd&usqp=CAU);
    width: auto;
    height: auto;
}
a{
    color: rgb(248, 245, 245);
}
a.hover{
    text-decoration: none;
}

.parrent{
  width: 600px;
  height: 600px; 
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}
.container{
    width: 450px;
    background-color: #182134;
    text-align: center;
    box-shadow: 0 -5px 0 #3adbfd;
    border-radius: 0 0 10px 10px;
    padding-bottom: 20px;
    /* vertical-align: middle; */
}
.container img{
    width: 120px;
    height: 120px;
    margin: -60px 0 30px 0;
    border: 5px solid #1a394f;
    border-radius: 50%;
}
input[type="text"], input[type="password"]{
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom:25px;
    border-radius: 4px;
    padding-left: 10px;
    padding-left: 40px;
}
.dws-submit{
    padding:13px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
}
.dws-submit:hover{
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}
.dws-input::before{
    font-family: "FontAwesome";
    content: "\f007";
    position: absolute;
    font-size: 30px;
    padding:10px 0 0 7px;
    color: #2c536c;

}
.dws-input:nth-child(2)::before{
    content: "\f023";
}
.dws-input:hover::before{
    color: #319ebc;
    transition: all 0.3s;
}
.dws-input input:hover{
    box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}
.social i{
    color: #fff;
    font-size: 20px;
    width: 20px;
    padding: 10px;
}
.social i:hover{
    background-color: #fff;
    color: #1a394f;
    border-radius: 5px;
    cursor: pointer;
}